/**
 * global.css
 * @author Paul Cooper (2009)
 **/

body 
{
	margin:0; padding:0;
	margin-top:-3px;
	background-image:url("/assets/images/wood_bg.jpg");
	background-repeat:repeat;
	
}

a:link, a:visited
{
	text-decoration:none;
	font-family:"Arial";
	font-size:12px;
	color:#cdcdcd;
}

div#header
{
	margin:0 auto;
	margin-bottom:10px;
	padding:10px 0 10px 0;
	width:860px; height:34px;
	line-height:24px;
	background-image:url("/assets/images/header_background.png");
	background-position:top left;
	background-repeat:no-repeat;
}

	div#header-logo
	{
		width:80px; height:26px;
		padding:0 0 0 36px;
		background-image:url("/assets/images/wkicon.png");
		background-repeat:no-repeat;
		background-position:6px center;
		font-family:Courier,Verdana;
		font-size:14px;
		color:#EEE;
	}

	div#header-navigation a:link, div#header-navigation a:visited
	{
		margin-right:10px;
		color:#DEDEDE;
	}
	
div#seperator
{
	height:1px;
	border-bottom:solid 0px #121212;
}
	
div#footer
{
	
	height:160px;
	background-color:#dedede;
}

div.module-header
{
	width:400px; height:32px;
	padding:0 8px;
	line-height:32px;
	font-family:Arial;
	font-weight:normal;
	font-size:10px;
	color:#FFF;
	background-image:url("/assets/images/section_bg.png");
	background-repeat:no-repeat;
}

div.flat-header
{
	background-image:url("/assets/images/section-header-flat.png");
	border-bottom:solid 1px #fff;
}