div#content-wrapper
{
	margin:10px auto;
	width:860px; height:640px;
	background-image:url("/assets/images/standout.png");
	background-repeat:no-repeat;
}
	
	div#content-top-left
	{
		width:520px; height:360px;
		/*background-image:url("/assets/images/webdev.png");
		background-repeat:no-repeat;*/
		float:right;
	}
	
	div#content-top-right
	{
		width:320px; height:340px;
		padding:0 0 0 10px;
		float:left;
	}
	
		div#content-top-right h2
		{
			font-family:Arial,Georgia,Arial;
			font-weight:normal;
			margin:14px 10px;
			color:#121212;
		}
	
		div#content-top-right p
		{
			font-family:Verdana;
			font-size:14px;
			color:#333;
			margin:5px 0;
			padding:10px 10px;
		}		

	div#content-left
	{
		float:left;
		width:416px; height:240px;
		padding-right:10px;
		border-right:dotted 1px #666;
	}
	
	div#content-right
	{
		float:left;
		width:416px; height:240px;
		padding-left:10px;
	}

div#activity-left
{
	width:160px; height:100px;
	padding:0 10px;
	background-image:url("/assets/item.png");
	background-repeat:no-repeat;
	float:left;
}

div#activity-right
{
	width:auto; height:60px;
	float:left;
}