div.product-row
{
	width:410px; height:80px;
	margin:0 auto;
	border-bottom:solid 1px #333;
}

div.product-icon
{
	width:80px; height:inherit;
	float:left;
	background-repeat:no-repeat;
	background-position:center center;
}

div.product-details
{
	width:300px; height:60px;
	padding:16px 0 0 10px;
	float:left;
	font-family:Verdana;
	font-size:10px;
	color:#ccc;
}

	div.product-details a:link
	{
		margin:0 0 6px 0;
		font-family:Helvetica,Arial,Georgia;
		font-weight:normal;
		font-size:18px;
		color:#e09010;
		display:block;
	}
	
div.service-list
{
	width:205px;
	margin:0;
	float:left;
}

div.service-list-item
{
	width:200px; height:24px;
	line-height:24px;
	padding:5px; 
	font-family:Verdana;
	font-size:10px;
	color:#e09010;
	border-bottom:solid 1px #606060;
}

	div.service-list-item:hover
	{
		background-color:#272727;
		cursor:pointer;
	}

	div.service-list-item a
	{
		position:relative;
		top:-4px;
		font-family:Verdana;
		font-size:10px;
		color:#e09010;
	}

div.list-item-last
{
	border-bottom:none;
}

span.service-icon img
{
	margin:4px 6px 0 0;
}